@import "@fontsource-variable/geist/wght.css";
@import "@fontsource-variable/cascadia-mono/wght.css";
@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 0.25rem;

    @media (width >= 40rem) {
        /* sm */
        padding-inline: 0.5rem;
    }
}

:root {
    color-scheme: dark;
}

@theme inline {
    --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Cascadia Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* background & foreground colors */
    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-white);

    /* muted background & foreground colors */
    --color-muted: color-mix(in oklch, var(--color-background), var(--color-foreground) 8%);
    --color-muted-foreground: color-mix(in oklch, var(--color-foreground), transparent 35%);

    /* surface colors */
    --color-surface: var(--color-neutral-900);
    --color-surface-foreground: var(--color-white);

    /* border colors */
    --color-border: var(--color-neutral-800);

    /*
    ACCENT COLORS
    Actually, we have 2 accent colors. first one is `primary` and second one is `secondary`.

    Colors are specified in index page. When user selected `Rust Developer` journey, his/her accent colors
    change to `secondary`, and when selected `Full-stack` journey, accent colors change to `primary`.
    */

    --color-primary-50: var(--color-blue-50);
    --color-primary-100: var(--color-blue-100);
    --color-primary-200: var(--color-blue-200);
    --color-primary-300: var(--color-blue-300);
    --color-primary-400: var(--color-blue-400);
    --color-primary-500: var(--color-blue-500);
    --color-primary-600: var(--color-blue-600);
    --color-primary-700: var(--color-blue-700);
    --color-primary-800: var(--color-blue-800);
    --color-primary-900: var(--color-blue-900);
    --color-primary-950: var(--color-blue-950);
    --color-primary: var(--color-primary-500);

    --color-secondary-50: var(--color-orange-50);
    --color-secondary-100: var(--color-orange-100);
    --color-secondary-200: var(--color-orange-200);
    --color-secondary-300: var(--color-orange-300);
    --color-secondary-400: var(--color-orange-400);
    --color-secondary-500: var(--color-orange-500);
    --color-secondary-600: var(--color-orange-600);
    --color-secondary-700: var(--color-orange-700);
    --color-secondary-800: var(--color-orange-800);
    --color-secondary-900: var(--color-orange-900);
    --color-secondary-950: var(--color-orange-950);
    --color-secondary: var(--color-secondary-500);

    --opacity-disabled: 60%;
}

@layer base {
    html {
        color-scheme: dark;
    }

    body {
        @apply min-h-dvh bg-background font-sans text-foreground antialiased;
    }
}
